[Unit]
Description=nlan service
After=network.target

[Service]
WorkingDirectory=/path/to/nlan
ExecStart=/path/to/nlan/executable
User=docker
Restart=always
KillMode=process
RestartSec=2s

[Install]
WantedBy=multi-user.target
